
<script type="text/html" id="donationTemplate"> 

    <div class="donation-container">
        <div class="image-container">
            <img src="#" data-bind="attr: { 'src': imgUrl }"/>
        </div>  
        <div class="content-container">
            <div data-bind="text: content"></div>
        </div>
    </div>    

</script>