
<script type="text/html" id="messageTemplate"> 
    <div class="pure-gutter">
        <div class="message-container">
            <div class="content-container">
                <div data-bind="text: content"></div>
            </div>
        </div>    
    </div>
</script>