<script type="text/html" id="messageTemplate"> 

    <div class="message-container content" data-bind="style: { left : (left() + 'px'), top : (top() + 'px') }">
        <div class="image-container">
            <img/>
        </div>
        <div class="content-container">
            <div data-bind="text: content"></div>
        </div>
    </div>    

</script>
