    <div class="pure-g-r cards-container-javascript" data-bind="foreach: cards, 'style': { 'height': ($data.containerHeight() + 'px') }">
        <div class="content pure-u-1-4" data-bind="attr: { 'id' : $data.id }, 'style': { 'left': ($data.left() + 'px'), 'top': ($data.top() + 'px') }, css: { 'content-transition': $parent.loaded }">
            <div class="pure-gutter">
            <!-- ko template: {'if': isCardType(0), name: 'messageTemplate', data: $data } -->
            <!-- /ko -->
            
            <!-- ko template: {'if': isCardType(1), name: 'donationTemplate', data: $data } -->
            <!-- /ko -->
            </div>
        </div>
    </div>
@*    <button data-bind="click: getMore">Get more</button>*@
    
    <noscript>
        <div class="cards-container-wo-javascript" data-bind="foreach: cards">
            @{
                foreach (var card in Model.Cards)
                {
                    String s = card.CardType.ToString();

                    switch (s)
                    {
                        case "Message" : 
                            <div class="content">
                                <div class="message-container">
                                    <div class="image-container">
                                        <img/>
                                    </div>
                                    <div class="content-container">
                                        <div>@card.Content</div>
                                    </div>
                                </div>    
                            </div>
                            break;
                        case "Donation" :
                            <div class="content">
                                <div class="donation-container">
                                    <div class="image-container">
                                        <img src="@card.ImgUrl" />
                                    </div>  
                                    <div class="content-container">
                                        <div>@card.Content</div>
                                    </div>
                                </div> 
                            </div>
                            break;
                    }
                }
            }
        </div>  
    </noscript>

<script>
    var cardsJson = @Html.Raw(Json.Encode(Model.Cards));
</script>

@{
    Html.RenderPartial("~/Views/Shared/ko/donation.cshtml");
    Html.RenderPartial("~/Views/Shared/ko/message.cshtml");
    Bundles.Reference("~/bundles/home");
}

