<div class="pure-g-r cards-container-javascript" data-bind="foreach: cardsViewModel.cards, 'height-two-way': cardsViewModel.containerHeight">
    <div class="content pure-u-1-4" data-bind="attr: { 'id' : $data.id }, 'style': { 'left': ($data.left() + 'px'), 'top': ($data.top() + 'px') }, css: { 'content-transition': $parent.loaded }, 'height-one-way': $data.height">
        <!-- ko template: {'if': isCardType(0), name: 'messageTemplate', data: $data, afterRender: function (element) { $parent.afterInitialCardRender(element); } } -->
        <!-- /ko -->

        <!-- ko template: {'if': isCardType(1), name: 'donationTemplate', data: $data, afterRender: function (element) { $parent.afterInitialCardRender(element); } } -->
        <!-- /ko -->
    </div>
</div>

@*<div class="pure-g-r cards-container-javascript" data-bind="foreach: cardsViewModel.cards, 'height-two-way': cardsViewModel.containerHeight">
        
    <!-- ko if: isCardType(0) -->
    <div class="content pure-u-1-4" data-bind="template: {name: 'messageTemplate', data: $data, afterRender: function (element) { $parent.afterInitialCardRender(element); } }, attr: { 'id' : $data.id }, 'style': { 'left': ($data.left() + 'px'), 'top': ($data.top() + 'px') }, css: { 'content-transition': $parent.loaded }, 'height-one-way': $data.height"></div>
    <!-- /ko -->

    <!-- ko if: isCardType(1) -->
    <div class="content pure-u-1-4" data-bind="template: {name: 'donationTemplate', data: $data, afterRender: function (element) { $parent.afterInitialCardRender(element); } }, attr: { 'id' : $data.id }, 'style': { 'left': ($data.left() + 'px'), 'top': ($data.top() + 'px') }, css: { 'content-transition': $parent.loaded }, 'height-one-way': $data.height"></div>
    <!-- /ko -->

</div>*@


<noscript>
    <h2>This site works best with JavaScript enabled</h2>
    <div class="pure-g-r cards-container-wo-javascript" data-bind="foreach: cards">

        @{
            foreach (var card in Model.Cards)
            {
                String s = card.CardType.ToString();

                switch (s)
                {
                    case "Message":
                        <div class="content pure-u-1-4">
                            <div class="pure-gutter">
                                <div class="message-container">
                                    <div class="image-container">
                                        <img />
                                    </div>
                                    <div class="content-container">
                                        <div>@card.Content</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case "Donation":
                        <div class="content pure-u-1-4">
                            <div class="pure-gutter">
                                <div class="donation-container">
                                    <div class="image-container">
                                        <img src="@card.ImgUrl" />
                                    </div>
                                    <div class="content-container">
                                        <div>@card.Content</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                }
            }
        }

    </div>
</noscript>

<script>
    var cardsJson = @Html.Raw(Json.Encode(Model.Cards));
</script>

@{
    Html.RenderPartial("~/Views/Shared/ko/donation.cshtml");
    Html.RenderPartial("~/Views/Shared/ko/message.cshtml");
    Bundles.Reference("~/bundles/home");
}

