html,
body,
#body,
.main-content {
  height: 100%;
  width: 100%;
}
.cards-container-javascript {
  max-width: 1280px;
  margin: auto;
  height: 100%;
  position: relative;
}
.cards-container-javascript .content {
  position: absolute;
  width: 273px;
}
.cards-container-javascript .content-transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.cards-container-javascript .message-container {
  background: blue;
  border-radius: 5px;
  width: 253px;
  padding: 10px;
}
.cards-container-javascript .donation-container {
  background: green;
  border-radius: 5px;
  width: 253px;
  padding: 10px;
}
.cards-container-javascript .donation-container .image-container img {
  width: 253px;
  height: 200px;
}
.cards-container-wo-javascript {
  max-width: 1280px;
  margin: auto;
  height: 100%;
  -moz-column-width: 273px;
  -webkit-column-width: 273px;
  column-width: 273px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}
.cards-container-wo-javascript .content {
  width: 273px;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -moz-page-break-inside: avoid;
  page-break-inside: avoid;
}
.cards-container-wo-javascript .message-container {
  background: blue;
  border-radius: 5px;
  width: 273px;
  padding: 10px;
}
.cards-container-wo-javascript .donation-container {
  background: green;
  border-radius: 5px;
  width: 273px;
  padding: 10px;
}
.cards-container-wo-javascript .donation-container .image-container img {
  width: 253px;
  height: 200px;
}
