html, body, #body, .main-content {
    height: 100%;
    width: 100%;
}

.content {
    position: static !important;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .content {
        position: absolute !important;
    }
}

.message-container {
    background: blue;
}

.donation-container {
    background: green;
    .image-container {
        img {
                
        }
    }
}


.cards-container-javascript {
    margin: auto;
    height: 100%;
    position: relative;

}

.cards-container-wo-javascript {
    .content {
    position: static !important;
}

}